<h2> my Shop </h2>
<a href={% url 'products' %}>Все товары</a>
или просмотреть товары по категориям: 
{% for category in categories %}
  <a href={% url 'one_category' category.id %}>{{category.title}}</a>
{% endfor %} <br>


<h3>Категория "{{category.title}}"</h3>
<p>Здесь вы можете найти {{category.description}}</p>
<br>

{% for product in category.products.all %}
  <p><a href={% url 'product_detail' product.id %}>{{product.title}}</a></p>
{% endfor %}


<br>
И пока ещё далеко да релиза, можно
<a href={% url 'admin:index' %}> порулить админкой</a>