{% load static %}
<html>
    <head>
      {% load bootstrap4 %}
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
<!-- Эмблема-->
        <div class="page-header">
            <h1><a href="/products">my Shop</a></h1>
        </div> <br>
<!-- Логин-->
      {% if user.is_authenticated %} 
        <p align="right"> Привет, <b>{{ user.username }}</b>! &emsp; <a href={% url 'logout' %}>Выйти</a></p>
      {% else %} 
        <p align="right"> Вы не вошли в систему &emsp; <a href={% url 'login' %}>Войти</a></p>
      {% endif %}
<!-- Конец шапки-->

      <h3>Заказ товара</h3>
      <form method="POST"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit" class="save btn btn-default">Заказать</button>
      </form>

    </body>
</html>