
{% load staticfiles %}
<html>
    <head>
      {% load bootstrap4 %}
      <script src="{% bootstrap_jquery_url %}"></script>
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">my Shop</a></h1>
        </div>

      {% if user.is_authenticated %} 
        <p align="right"> Привет, <b>{{ user.username }}</b>! &emsp; <a href={% url 'logout' %}>Выйти</a></p>
      {% else %} 
        <p align="right"> Вы не вошли в систему &emsp; <a href={% url 'login' %}>Войти</a></p>
      {% endif %}
      
      <hr align="left" width="100%" size="1" color="#808080" />

      <h3>Удаляем товар из базы</h3>

      <p>Точно удаляем "{{ product.title }}"? Восстановление невозможно!</p>
      <br>
      Информация об удаляемом товаре:
      <h3>{{product.title}}</h3>
      <p>Категория: <a href={% url 'one_category' product.category.id %}>{{product.category}}</a></p>
      <p>Описание: {{product.description}}</p>
      <p>Цена: {{product.price}} Рублей</p>
      <br>
      {# action — ссылка куда отправляется запрос, method - метод запроса #}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <input type="submit" value="Точно" />
      </form>

    </body>
</html>