<h2> my Shop </h2>
<a href={% url 'products' %}>Все товары</a>
или просмотреть товары по категориям: 
{% for category in categories %}
  <a href={% url 'one_category' category.id %}>{{category.title}}</a>
{% endfor %} <br>

<h3>{{product.title}}</h3>
<p>Категория: <a href={% url 'one_category' product.category.id %}>{{product.category}}</a></p>
<p>Описание: {{product.description}}</p>
<p>Цена: {{product.price}} Рублей</p>
<br>

<button><a href={% url 'product_order' product.id %}>Заказать</a></button>

<br><br>

<button><a href={% url 'product_update' product.id %}>Отредактировать описание</a></button>

<br><br>

И пока ещё далеко да релиза, можно
<a href={% url 'admin:index' %}> порулить админкой</a>