{% load static %}
<html>
    <head>
      {% load bootstrap4 %}
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
<!-- Эмблема-->
        <div class="page-header">
            <h1><a href="/products">my Shop</a></h1>
        </div> <br>
<!-- Конец шапки-->

      <h3>Удаляем товар из базы</h3>

      <p>Точно удаляем "{{ product.title }}"? Восстановление невозможно!</p>
      <br>
      Информация об удаляемом товаре:
      <h3>{{product.title}}</h3>
      <p>Категория: <a href={% url 'one_category' product.category.id %}>{{product.category}}</a></p>
      <p>Описание: {{product.description}}</p>
      <p>Цена: {{product.price}} Рублей</p>
      <br>
      {# action — ссылка куда отправляется запрос, method - метод запроса #}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        <input type="submit" value="Точно" />
      </form>

    </body>
</html>