<h2> my Shop </h2>
{% if user.is_authenticated %} 
  <p align="right"> Привет, <b>{{ user.username }}</b>! &emsp; <a href={% url 'logout' %}>Выйти</a></p>
{% else %} 
  <p align="right"> Вы не вошли в систему. &emsp; <a href={% url 'login' %}>Войти</a></p>
{% endif %}
<hr align="left" width="100%" size="1" color="#808080" />
Просмотреть <a href={% url 'products' %}>все товары</a> или по категориям: 
{% for category in categories %}
  <a href={% url 'one_category' category.id %}>{{category.title}}</a>
{% endfor %} <br>
<hr align="left" width="100%" size="1" color="#808080" />

<h3>Все товары: </h3>
{% for product in products %} 
  <h4><a href={% url 'product_detail' product.id %}>{{product.title}}</a></h4>
  Категория: <a href={% url 'one_category' product.category.id %}>{{product.category}}</a> <br>
{% endfor %} 

{% if user.is_superuser %}
<hr align="left" width="100%" size="1" color="#808080" />
  <a href={% url 'product_create' %}>Добавить товар</a>&emsp;
  <a href={% url 'admin:index' %}> В админку</a>
{% endif %}