<h3>Категория "{{category.title}}"</h3>
<p>Здесь вы можете найти {{category.description}}</p>
<br>

{% for product in category.products.all %}
<p><a href={% url 'detail' product.id %}>{{product.title}}</a></p>
{% endfor %}

<br><br>
<p>
Навигация по сайту:
<a href={% url 'products' %}>    Все товары    |</a>
<a href={% url 'categorys' %}>    Товары по категориям    |</a>
<a href={% url 'index' %}>    Вернуться на главную</a>
</p>
<br>
И пока ещё далеко да релиза, можно
<a href={% url 'admin:index' %}> порулить админкой</a>

<!-- 

-->