
{% load staticfiles %}
<html>
    <head>
      {% load bootstrap4 %}
      <script src="{% bootstrap_jquery_url %}"></script>
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">my Shop</a></h1>
        </div>

      {% if user.is_authenticated %} 
        <p align="right"> Привет, <b>{{ user.username }}</b>! &emsp; <a href={% url 'logout' %}>Выйти</a></p>
      {% else %} 
        <p align="right"> Вы не вошли в систему &emsp; <a href={% url 'login' %}>Войти</a></p>
      {% endif %}
      
      <hr align="left" width="100%" size="1" color="#808080" />

      <h3>Редактируем инфорацию о товаре</h3>
      {# action — ссылка куда отправляется запрос, method - метод запроса #}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }} 
        <input type="submit" value="Обновить" /> 
      </form>

      <br><br>

      <button><a href={% url 'product_delete' product.id %}> Удалить продукт</a></button>

    </body>
</html>