{% load static %}
<html>
    <head>
      {% load bootstrap4 %}
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
<!-- Эмблема-->
        <div class="page-header">
            <h1><a href="/products">my Shop</a></h1>
        </div> <br>
<!-- Конец шапки-->

      <h3>Добавить новый товар</h3>
      {# action — ссылка куда отправляется запрос, method - метод запроса #}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }} 
      <input type="submit" value="Подтвердить" /> 
      </form>

    </body>
</html>