{% load static %}
<html>
    <head>
      {% load bootstrap4 %}
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
<!-- Эмблема-->
        <div class="page-header">
            <h1><a href="/products">my Shop</a></h1>
        </div> <br>
<!-- Конец шапки-->


      <p><h3>Регистрация нового пользователя</h3></p>
      <form method="post">  
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Готово</button>
      </form>


    </body>
</html>