{% load static %}
<html>
    <head>
      {% load bootstrap4 %}
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
<!-- Эмблема-->
        <div class="page-header">
            <h1><a href="/products">my Shop</a></h1>
        </div> <br>
<!-- Конец шапки-->


      {% if user.is_authenticated %} 
        <p>Привет, <b>{{ user.username }}</b>! Пойдём, я покажу тебе что есть у нас в <a href={% url 'products' %}>магазине</a> </p>
        <p><a href={% url 'logout' %}>Выйти</a></p>
      {% else %} 
        <p>Вы не вошли в систему.</p>
        <h4>Войти под своей учётной записью</h4>
        <form method="post">  
          {% csrf_token %} 
          {{ form.as_p }} 
          <button type="submit">Войти</button>
        </form>
        Если у вас ещё нет учётной записи, давайте  <a href={% url 'signup'%}>зарегистриуемся</a>, это просто
      {% endif %}

    </body>
</html>