{% load staticfiles %}
<html>
    <head>
      {% load bootstrap4 %}
      <script src="{% bootstrap_jquery_url %}"></script>
      {% bootstrap_javascript %}
      {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/shop.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">my Shop</a></h1>
        </div>

      {% if user.is_authenticated %} 
        <p align="right"> Привет, <b>{{ user.username }}</b>! &emsp; <a href={% url 'logout' %}>Выйти</a></p>
      {% else %} 
        <p align="right"> Вы не вошли в систему &emsp; <a href={% url 'login' %}>Войти</a></p>
      {% endif %}
      
      <hr align="left" width="100%" size="1" color="#808080" />


      {% if user.is_authenticated %} 
        <p>Привет, <b>{{ user.username }}</b>! Пойдём, я покажу тебе что есть у нас в <a href={% url 'products' %}>магазине</a> </p>
        <p><a href={% url 'logout' %}>Выйти</a></p>
      {% else %} 
        <p>Вы не вошли в систему.</p>
        <h4>Войти под своей учётной записью</h4>
        <form method="post">  
          {% csrf_token %} 
          {{ form.as_p }} 
          <button type="submit">Войти</button>
        </form>
        Если у вас ещё нет учётной записи, давайте  <a href={% url 'signup'%}>зарегистриуемся</a>, это просто
      {% endif %}

    </body>
</html>